@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TechSode</h1>
    <p>Learn about <a href="https://techsode.com">building Web apps with TechSode</a>.</p>
</div>
